src_nodered/stupid-door-nodered-flow.json
[{"id":"b7c190bc.dcfe08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"60aa1fe8.089fa","type":"mqtt in","z":"b7c190bc.dcfe08","name":"ESP32: Unlock status","topic":"stupid-door-4ceb6768/unlock-status","qos":"0","datatype":"auto","broker":"43c4dff4.b9d28","nl":false,"rap":true,"rh":0,"x":180,"y":520,"wires":[["5cdffbaa.767504","9afdc4f3.b189d","fbeac1fd.a7b118"]]},{"id":"922d89ce.ab811","type":"mqtt out","z":"b7c190bc.dcfe08","name":"ESP32: Send unlock command","topic":"stupid-door-4ceb6768/unlock-remote","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"43c4dff4.b9d28","x":1350,"y":720,"wires":[]},{"id":"fbeac1fd.a7b118","type":"thingspeak42","z":"b7c190bc.dcfe08","name":"TS: Send unlock attempts","delay":"15","topic1":"stupid-door-4ceb6768/unlock-status","topic2":"","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":490,"y":580,"wires":[]},{"id":"593f86ee.082f8","type":"thingspeak42","z":"b7c190bc.dcfe08","name":"TS: Send power-on events","delay":"15","topic1":"stupid-door-4ceb6768/poweron","topic2":"","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":500,"y":440,"wires":[]},{"id":"b773e608.823ff","type":"thingspeak42","z":"b7c190bc.dcfe08","name":"TS: Send temp. updates","delay":"15","topic1":"stupid-door-4ceb6768/temp","topic2":"","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":470,"y":220,"wires":[]},{"id":"19dd0410.306664","type":"telegram receiver","z":"b7c190bc.dcfe08","name":"Telegram: Get from Bot","bot":"6d856ca7.a12594","saveDataDir":"","filterCommands":false,"x":180,"y":680,"wires":[["cbd0e376.508d08","e2103b7f.369008"],["cbd0e376.508d08","e2103b7f.369008"]]},{"id":"cbd0e376.508d08","type":"switch","z":"b7c190bc.dcfe08","name":"React on Command","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"eq","v":"/show","vt":"str"},{"t":"eq","v":"Get current weather","vt":"str"},{"t":"eq","v":"Show weather graph","vt":"str"},{"t":"eq","v":"Unlock the door","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":6,"x":460,"y":680,"wires":[["52c7d714.f05268","f5f11da0.61177"],["a08009f.5dfbef8","f5f11da0.61177"],["72bb6915.47fa3","f5f11da0.61177"],["645b1c2e.f67ac4","f5f11da0.61177"],["3ef6d096.9e8778","26cf47df.a0bd68","f5f11da0.61177"],["963325b.6fd6758","f5f11da0.61177"]]},{"id":"a08009f.5dfbef8","type":"function","z":"b7c190bc.dcfe08","name":"Build keyboard","func":"var options = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Unlock the door'],\n      ['Get current weather'],\n      ['Show weather graph']\n    ],\n    resize_keyboard : true,\n    one_time_keyboard : true\n  })\n};\n\nmsg.payload.options = options;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":660,"wires":[["10bc6fec.41d6"]]},{"id":"3ef6d096.9e8778","type":"template","z":"b7c190bc.dcfe08","name":"Send \"magic words\"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"telegram>>unlock","output":"str","x":780,"y":780,"wires":[["922d89ce.ab811","4c11008c.af19f"]]},{"id":"52c7d714.f05268","type":"template","z":"b7c190bc.dcfe08","name":"Welcome hint","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Greetings! \nUse the command keyboard available below to interact with me.","output":"str","x":760,"y":640,"wires":[["a08009f.5dfbef8","4c11008c.af19f"]]},{"id":"10bc6fec.41d6","type":"telegram sender","z":"b7c190bc.dcfe08","name":"Telegram: Send to Bot","bot":"6d856ca7.a12594","haserroroutput":true,"outputs":2,"x":1320,"y":380,"wires":[["6583b1bd.70436"],["6583b1bd.70436"]]},{"id":"963325b.6fd6758","type":"template","z":"b7c190bc.dcfe08","name":"\"What did you mean?\" error","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Sorry, didn't get you there.\nUse the command keyboard available below to interact with me.","output":"str","x":800,"y":820,"wires":[["a08009f.5dfbef8","4c11008c.af19f"]]},{"id":"949e9d06.debd28","type":"mqtt in","z":"b7c190bc.dcfe08","name":"ESP32: Live temp.","topic":"stupid-door-4ceb6768/temp","qos":"0","datatype":"auto","broker":"43c4dff4.b9d28","nl":false,"rap":true,"rh":0,"x":190,"y":100,"wires":[["68767b6c.41d0e4","639f7d13.99bd1c","b773e608.823ff"]]},{"id":"6bbcfab2.6e0fbc","type":"mqtt in","z":"b7c190bc.dcfe08","name":"ESP32: Powered back on","topic":"stupid-door-4ceb6768/poweron","qos":"0","datatype":"auto","broker":"43c4dff4.b9d28","nl":false,"rap":true,"rh":0,"x":190,"y":380,"wires":[["96a891a4.36ebb8","2f836f6b.44cd58","593f86ee.082f8"]]},{"id":"96a891a4.36ebb8","type":"function","z":"b7c190bc.dcfe08","name":"Notify","func":"msg.payload = {\n    chatId: 1683482674,\n    type: \"message\",\n}\n\nmsg.payload.content = `DOORLOCK HAS POWERED BACK ON\nThis indicates a possible power loss has occured on your door lock. If possible, please check the door ASAP.\n`\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":380,"wires":[["10bc6fec.41d6","a8496801.12be38"]]},{"id":"5cdffbaa.767504","type":"function","z":"b7c190bc.dcfe08","name":"Notify","func":"status = msg.payload\n\nmsg.payload = {\n    chatId: 1683482674,\n    type: \"message\",\n}\n\nswitch (status) {\n    case \"unlocked:telegram\":\n        msg.payload.content = \"DOOR UNLOCKED by a Telegram command\"\n        break;\n    case \"unlocked:card\":\n        msg.payload.content = \"DOOR UNLOCKED by a physical card.\"\n        break;\n    case \"unlock-fail:card\":\n        msg.payload.content = \"DOOR FAILED TO UNLOCK by a physical card.\"\n        break;\n    default:\n        msg.payload.content = \"_\\\"This should not happen.\\\"_\"\n        break;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":520,"wires":[["10bc6fec.41d6","ff350762.87b9d8"]]},{"id":"6583b1bd.70436","type":"debug","z":"b7c190bc.dcfe08","name":"send_final","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":380,"wires":[]},{"id":"68767b6c.41d0e4","type":"function","z":"b7c190bc.dcfe08","name":"Assign temperature to global-scoped var","func":"global.set('temperature', Number(msg.payload))\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":100,"wires":[[]]},{"id":"4e4e4718.535c58","type":"function","z":"b7c190bc.dcfe08","name":"Assign humidity to global-scoped var","func":"global.set('humidity', Number(msg.payload))\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":160,"wires":[[]]},{"id":"e23ab8cd.e3c3f8","type":"mqtt in","z":"b7c190bc.dcfe08","name":"ESP32: Live humid.","topic":"stupid-door-4ceb6768/humid","qos":"0","datatype":"auto","broker":"43c4dff4.b9d28","nl":false,"rap":true,"rh":0,"x":190,"y":160,"wires":[["4e4e4718.535c58","93152ff8.bbd4b","4587af97.e01758"]]},{"id":"26cf47df.a0bd68","type":"template","z":"b7c190bc.dcfe08","name":"Tell the user to wait","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Hold on, unlocking the door...","output":"str","x":770,"y":740,"wires":[["a08009f.5dfbef8","4c11008c.af19f"]]},{"id":"72bb6915.47fa3","type":"function","z":"b7c190bc.dcfe08","name":"Notify cached weather","func":"msg.payload = {\n    chatId: 1683482674,\n    type: \"message\"\n}\n\nt = global.get('temperature')\nh = global.get('humidity')\n\nif (t === undefined || h === undefined) {\n    msg.payload.content = \"CURRENT WEATHER is not available.\"\n    msg.payload.content +=  \"\\nPlease try again in half a minute, as the doorlock is collecting data.\"\n} else {\n    msg.payload.content = \"CURRENT WEATHER\"\n    msg.payload.content += `\\nTemperature: ${t}°C`\n    msg.payload.content += `\\nHumidity: ${h}%`\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":700,"wires":[["a08009f.5dfbef8","4c11008c.af19f"]]},{"id":"639f7d13.99bd1c","type":"debug","z":"b7c190bc.dcfe08","name":"live_temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":60,"wires":[]},{"id":"93152ff8.bbd4b","type":"debug","z":"b7c190bc.dcfe08","name":"live_humid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":120,"wires":[]},{"id":"2f836f6b.44cd58","type":"debug","z":"b7c190bc.dcfe08","name":"power_1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":320,"wires":[]},{"id":"9afdc4f3.b189d","type":"debug","z":"b7c190bc.dcfe08","name":"unlock_1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":360,"wires":[]},{"id":"a8496801.12be38","type":"debug","z":"b7c190bc.dcfe08","name":"power_2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":320,"wires":[]},{"id":"ff350762.87b9d8","type":"debug","z":"b7c190bc.dcfe08","name":"unlock_2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":360,"wires":[]},{"id":"e2103b7f.369008","type":"debug","z":"b7c190bc.dcfe08","name":"get_msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":420,"y":760,"wires":[]},{"id":"f5f11da0.61177","type":"debug","z":"b7c190bc.dcfe08","name":"react_msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":880,"wires":[]},{"id":"4c11008c.af19f","type":"debug","z":"b7c190bc.dcfe08","name":"proc_msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1080,"y":900,"wires":[]},{"id":"645b1c2e.f67ac4","type":"template","z":"b7c190bc.dcfe08","name":"Show graph links","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Here are the links to live graphs:\nTemperature: https://thingspeak.com/channels/1370971/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Temperature&type=line\nHumidity: https://thingspeak.com/channels/1370971/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Humidity&type=line","output":"str","x":770,"y":940,"wires":[["a08009f.5dfbef8"]]},{"id":"4587af97.e01758","type":"thingspeak42","z":"b7c190bc.dcfe08","name":"TS: Send humid. updates","delay":"15","topic1":"","topic2":"stupid-door-4ceb6768/humid","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":470,"y":280,"wires":[]},{"id":"43c4dff4.b9d28","type":"mqtt-broker","name":"HiveMQ Public Broker","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6d856ca7.a12594","type":"telegram bot","botname":"Stupid Door Bot","usernames":"thien_bui_84436","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"500","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]